@font-face {font-family:"Marketing Script";src:url("../fonts/MarketingScript.eot?") format("eot"),url("../fonts/MarketingScript.woff") format("woff"),url("../fonts/MarketingScript.ttf") format("truetype"),url("../fonts/MarketingScript.svg#MarketingScript") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Allstar Regular";src:url("../fonts/All_Star_Resort.eot?") format("eot"),url("../fonts/All_Star_Resort.woff") format("woff"),url("../fonts/All_Star_Resort.ttf") format("truetype"),url("../fonts/All_Star_Resort.svg#Allstar-Regular") format("svg");font-weight:normal;font-style:normal;}
.limpiar{clear: both;}
.cartel_1{
    background: #f34d25;
    width: 100%;
    padding-bottom: 80px;
}
.header_1{
    padding-top: 28px;
    margin-bottom: 20px;
    margin-left: -21px;
    width: 506px;
}
.header_1 i{
    font-weight: bold;
    float: right;
    margin-top: -46px;
    color: #fff;   
    letter-spacing: 1px;
    font-size: 17px
}
.index_cabecera{
    float: right;
    background: #b7f5ec;
    margin-top: -109px;
    padding-top: 8px;
    padding-bottom: 7px;
    font-size: 15px;
    font-weight: bold;
    padding-right: 42px;
    margin-right: -13px;

}
.index_cabecera a{
    color: #f34d25;
    margin-left:52px;
    transition: color 0.4s;
    -webkit-transition: color 0.4s; 
    text-decoration: none;
}
.index_cabecera a:hover{
    color: #ccc;
    
}

.contenedor_1{
    width: 1000px;
    height: 772px;
    margin: 0 auto;
}
.titulo_1{
    font-family: 'Oswald', sans-serif;
    color: #F34D25;
    background: #B7F5EC;
    padding-left: 13px;
    font-size: 111px;
    font-weight: bold;
    width: 1000px;
}
.rendimiento{
    color: #FFF;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    float: right;
    line-height: 90px;
    margin-top: 35px;
    width: 432px;
}
.horas{
    font-family: "Marketing Script";
    color: #B7F5EB;
    font-size: 96px;
    margin-top: 130px;
    left: 615px;
    float: right;
    position: absolute;
}
.mano{
    position: absolute;
    z-index: 5;
    margin-top: 43px;
    left: -1000px;
}
.ocho{
    left: 320px;
    margin-top: 43px;
    position: absolute;
}
.sub_titulo_1{
    font-family: 'Oswald', sans-serif;
    color: #F34D25;
    background: #FFF;
    padding-left: 15px;
    font-size: 72px;
    font-weight: bold;
    margin-top: 20px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 2-------------------------------------*/
/*--------------------------------------------------------------------------------*/

.cartel_2{
    background: #9be9dd;
    width: 100%;
    padding-bottom:20px;
}
.contenedor_2{
    width: 1000px;
    margin: 0 auto;
    height: 702px;
}
.tele_inf{margin-right: 11px; margin-bottom: 20px;}
.tele_inf:last-child{margin-right: 0px;}
.mensaje_2{
    float: left;
    text-align: center;
    color: white;   
    font-weight: bold;
    width: 336px;
    line-height: 120px;
}
.friends{
    font-family: "Marketing Script";
    font-family: "Marketing Script"; 
    color: #FE03DE; 
    font-size: 92px;
    font-weight: normal; 
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg); 
    -o-transform: rotate(-10deg);
    margin-top: -134px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 3------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_3{
    background: #968479;
    width: 100%;
    padding-bottom:20px;
}
.contenedor_3{
    padding-top: 30px;
    width: 1000px;
    margin: 0 auto;
}
.pizza{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -1px;
}
.pizza:first-child{
    margin-left: 0px;
}
.pizza_2{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -1px;
}
.circulo_blanco{
}
.titulo_pizza{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -385px;
    line-height: 31px;
    color: #BF1213;
}
#girar{
    width: 368px;
    height: 368px;
    position: absolute;
    margin-top: 110px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 4------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_4{
    background: #E1EED3;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    height: 748px;
}
.contenedor_4{
    width: 1000px;
    margin: 0 auto;
    position: absolute;
    z-index: 0;
}
.lavadoras:first-child{
    margin-left: 0px;
}
.lavadoras{
    margin-left: 0px;
}
.contenido_lavadora{
    float: left;
    width: 259px;
    line-height: 32px;
    padding-top: 99px;
    padding-left: 25px;
    margin-right: -25px;
}
.letras_lavadoras{
    font-family: 'Oswald', sans-serif;
    color: #1bcada;
    font-weight: bold;
    font-size: 0px;
}
.letras_lavadoras:last-child{
    font-size: 0px
}
.numero_lavadoras{
    font-family: "Allstar Regular";
    color: #D85738;
    font-size: 0px;
    letter-spacing: -30px;
    margin-left: -10px;
}
.lavadoras_cont{
    float: left;
    margin-left: 36px;
}
.bombo{
    position: absolute;
    z-index: -10;
    margin-left: -135px;
    margin-top: 100px;
}
.lavadoras_cont:first-child{
    float: left;
    margin-left: 0px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 5------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_5{
    background: #D3BEC7;
    width: 100%;
    padding-bottom: 190px;
    padding-top: 20px;
}
.contenedor_5{
    width: 1000px;
    margin: 0 auto;
}
.titulo_5{
    float: left;
    font-family: 'Oswald', sans-serif;
    background: #EF85B3;
    color: #612B42;
    font-weight: bold;
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 3px;
    margin-top: 35px;
}
.titulo_5:last-child{
    float: right; 
    padding-right: 0px;
}
.titulo_5:first-child{
    padding-left: 0px;
}
.minutos{
    color: #4F6F16;
    float: left;
    font-weight: bold;
    letter-spacing: -27px;
    line-height: 27px;
    margin-left: 32px;
    margin-top: 53px;
    text-align: center;
}
.triangulo_izq_1 {
    margin-top: 35px;
    width: 0;
    height: 0;
    border-right: 58px solid #EF85B3;
    border-bottom: 55px solid rgba(0, 0, 0, 0);
}
.triangulo_izq_2 {
    margin-top: -21px;
    width: 0;
    height: 0;
    border-right: 58px solid #EF85B3;
    border-top: 55px solid rgba(0, 0, 0, 0);
}
.triangulo_der_1 {
    margin-top: 35px;
    width: 0;
    height: 0;
    border-top: 55px solid #EF85B3;
    border-right: 58px solid rgba(0, 0, 0, 0);        
}
.triangulo_der_2{
    margin-top: -21px;
    width: 0;
    height: 0;
    border-bottom: 55px solid #EF85B3;
    border-right: 58px solid rgba(0, 0, 0, 0);          
}
.sub_cartel_5{
    background: #c4aeb7;
    width: 100%;
}
.sub_contenedor_5{
    width: 1000px;
    margin: 0 auto;
    background: #c4aeb7;
    padding-bottom: 45px;
}
.sub_contenedor_5 img{
    float: left;
    margin-left: 64px;
}
.sub_contenedor_5 img:first-child{
    margin-left: 0px;
}
.lavadora_5{
    margin-top: -170px;
}
.dormido{
    margin-top: -132px;
}
.television_5{
    margin-top: -118px;
}
.porcion{
    margin-left: 345px!important;
    margin-top: -60px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------PIE-----------------------------------------*/
/*--------------------------------------------------------------------------------*/
.pie{
    background: #796C71;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.contenedor_pie{
    width: 1000px;
    margin: 0 auto;
}

.idea{
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
}
.idea a{
    text-decoration: none;
    color: white;
}
.miniaturas{
    float: left;
    margin-left: 20px;

}
.miniaturas img{
    border: solid 2px white;
    cursor: pointer;
}
.miniaturas a{
    color: white;
    text-decoration: none;
}
.pop-up{
    position: absolute;
    z-index: 5000;
    width: 100%;
    opacity: 0.7;
    background: black;
    left: 0px;
    margin-top: -34px;
    display: none;
    height: 1200px;
}
.imagen_pop-up{
    position: absolute;
    z-index: 50001;
    opacity: 1;
    margin-left: 100px;
    display: none;
    margin-top: 325px;
}
.cerrar{
    float: right;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;
    margin-left: -3px;
}
/*-----------------------PIE 2----------------------*/

.cabezera{
   font-family: 'Oswald', sans-serif;
    color: white;
    background-color: #62D5F7;
    text-align: center;
    font-size: 37px;
    padding-bottom: 6px;
    padding-top: 7px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px
}

.ayuda{
    font-family: 'Oswald', sans-serif;
    color: #62d5f7;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
}

.gritos{
    font-family: 'Oswald', sans-serif;
    color: white;
    float: left;
    margin-top: 11px;
    font-size: 36px;
    font-weight: bold;
    margin-left: 14px;
}

.contenedor_log{
    background-color: #ffffff;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    padding-bottom: 20px;
}

.titulo_cont{
    font-family: 'Oswald', sans-serif;
    color: #62d5f7;
    text-align: center;
    font-size: 47px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 10px;
}
.interrogacion_1{
    font-size: 60px;
    letter-spacing: -11px;
    font-weight: normal;
}

.interrogacion_2{
    font-size: 50px;
    margin-left: -9px;
}

.texto_1{
    padding-left: 44px;
    font-size: 15px;
    padding-bottom: 30px;
    padding-right: 48px;
    color: #606060;
}
.titulo_cartel{
    font-weight: bold;
    font-size: 13px;
    color: #999999; 
}

.img_pie{
    padding-left: 25px;
    padding-bottom: 30px;
}

.img_miniatura{
    padding-left: 60px;
    padding-bottom: 30px;
}

.formulary{
    padding-left: 45px;
}



.apartados_form1{
    float: left;
}

.apartados_form2{
    float: right; 
    padding-right: 80px;
}

.apartados_form1 span{
    font-size: 15px;
    color: #606060;
}

.apartados_form2 span{
    font-size: 15px;
    color: #606060;
}

.apartados_form1 input{
    background: #dee8eb;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border: solid 1px #dee8eb;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.apartados_form1 input:focus{
    box-shadow: 1px 1px 15px #17A8D3;
    border: solid 1px #17A8D3;
}
.apartados_form2 input{
    background: #dee8eb;
    border-radius: 7px;
    -moz-border-radius:7px;
    -webkit-border-radius:7px;
    border: solid 1px #dee8eb;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
}
.apartados_form2 input:focus{
    box-shadow: 1px 1px 15px #17A8D3;
    border: solid 1px #17A8D3;
}
.boton_ayudar{
    text-align: center;
    padding-top: 36px;
}
.boton_ayudar input{
    background: #62d5f7;
    color: #fff;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
    text-shadow: -2px 1px 1px #3c8398;
    font-size: 17px;
    transition: background 0.4s;
    -webkit-transition: background 0.4s; 
}
.boton_ayudar input:hover{
   background: #17A8D3;
}
.mas_miniaturas{
    float:right;
}
.mas_miniaturas img{
    opacity: 0.8;
    -webkit-opacity: 0.8;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    }
.mas_miniaturas img:hover{
    opacity:1;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    filter:alpha(opacity=100);
}
.cerrar img{
    transition: width 0.4s;
    -webkit-transition: width 0.4s;
    width: 21px;
}
.cerrar img:hover{
    width: 23px;
    
}