*:focus {outline: none;}
.limpiar{
    clear: both;
}
.logo{
    width: 506px;
    margin: 0 auto;
}
.contenedor_formulario{
    width: 506px;
    margin: 0 auto;
    margin-top: 10%;
}
.formulario_login{
    background: #FFF;
    padding: 77px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 2px 34px #333;
    border: solid 1px #333;
    margin-top: 50px;
}
.formulario_login input{
    background: #DEE8EB;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #DEE8EB;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    color: #333;
    width: 100%;
}
.formulario_login input:focus{
    box-shadow: 1px 1px 15px #17A8D3;
    border: solid 1px #17A8D3;
}
.formulario_login input[type="button"]{
    background: #62D5F7;
    color: #FFF;
    font-weight: bold;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
    text-shadow: 0px 1px 1px #3C8398;
    font-size: 17px;
    transition: background 0.4s;
    -webkit-transition: background 0.4s;
}
.formulario_login input[type="button"]:hover{
    background: #17A8D3;
}
.formulario_login span{
    color: #333;
    font-weight: bold;
}
.pop_up_panel{
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0px 2px 34px #333;
    border: solid 1px #333;
    margin-top: 50px; 
}
.pop_up_panel input{
    background: #DEE8EB;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border: solid 1px #DEE8EB;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 5px;
    color: #333;
    width: 100%;
}
.pop_up_panel input:focus{
    box-shadow: 1px 1px 15px #17A8D3;
    border: solid 1px #17A8D3;
}
.pop_up_panel input[type="submit"]{
    background: #62D5F7;
    color: #FFF;
    font-weight: bold;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
    text-shadow: 0px 1px 1px #3C8398;
    font-size: 17px;
    transition: background 0.4s;
    -webkit-transition: background 0.4s;
}
.pop_up_panel input[type="submit"]:hover{
    background: #17A8D3;
}
.pop_up_panel span{
    color: #333;
    font-weight: bold;
}
.text_frm{
    margin: 5px 0px 0px;
    width: 100%;
    min-height: 150px;
    background-color: #DEE8EB;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border: 1px solid #DEE8EB;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #333;
    resize: vertical;
}
.cabecera_pop_up{
    border: 1px solid #AAA;
    background: #CCC url(images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
    text-align: center;
    font-weight: bold;
    padding: 8px;
    border-radius: 6px 6px 0px 0px;
    -moz-border-radius: 6px 6px 0px 0px;
    -webkit-border-radius: 6px 6px 0px 0px;
    border: none;
    cursor: all-scroll;
}
.cerrar_pop{
    float: right;
    cursor: pointer;
}
.btn_az{
    background: #62D5F7;
    color: #FFF;
    font-weight: bold;
    padding-bottom: 7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border: none;
    text-shadow: 0px 1px 1px #3C8398;
    font-size: 17px;
    transition: background 0.4s;
    -webkit-transition: background 0.4s;
}
.btn_az:hover{
    background: #17A8D3;
}
A.linkcerr:link {
    color: #62D5F7; text-decoration: none;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
}
A.linkcerr:visited {
    color: #62D5F7; text-decoration: none;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
} 
A.linkcerr:hover {color: #009dcc; text-decoration: none;}
A.linkcerr2:link {
    color: #009dcc; text-decoration: none;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
}

A.linkcerr2:visited {
    color: #009dcc; text-decoration: none;
    transition: color 0.4s;
    -webkit-transition: color 0.4s;
} 
A.linkcerr2:hover {color: #62D5F7; text-decoration: none;}
.titulo_cont_tab{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 12px;
    padding-top: 10px;
}