@font-face {font-family:"Marketing Script";src:url("../fonts/MarketingScript.eot?") format("eot"),url("../fonts/MarketingScript.woff") format("woff"),url("../fonts/MarketingScript.ttf") format("truetype"),url("../fonts/MarketingScript.svg#MarketingScript") format("svg");font-weight:normal;font-style:normal;}
@font-face {font-family:"Allstar Regular";src:url("../fonts/All_Star_Resort.eot?") format("eot"),url("../fonts/All_Star_Resort.woff") format("woff"),url("../fonts/All_Star_Resort.ttf") format("truetype"),url("../fonts/All_Star_Resort.svg#Allstar-Regular") format("svg");font-weight:normal;font-style:normal;}
.limpiar{clear: both;}
.cartel_1{
    background: #f34d25;
    width: 100%;
    padding-bottom: 80px;
}
.header_1{
    height: 80px;
}
.contenedor_1{
    width: 1000px;
    height: 772px;
    margin: 0 auto;
}
.titulo_1{
    font-family: 'Oswald', sans-serif;
    color: #F34D25;
    background: #B7F5EC;
    padding-left: 13px;
    font-size: 112px;
    font-weight: bold;
    width: 1000px;
}
.rendimiento{
    color: #FFF;
    font-size: 5em;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    float: right;
    line-height: 90px;
    margin-top: 35px;
    width: 432px;
}
.horas{
    font-family: "Marketing Script";
    color: #B7F5EB;
    font-size: 96px;
    margin-top: 130px;
    left: 615px;
    float: right;
    position: absolute;
}
.mano{
    position: absolute;
z-index: 5;
margin-top: 43px;
left: -1000px;
}
.ocho{
    left: 320px;
    margin-top: 43px;
    position: absolute;
}
.sub_titulo_1{
    font-family: 'Oswald', sans-serif;
    color: #F34D25;
    background: #FFF;
    padding-left: 15px;
    font-size: 73px;
    font-weight: bold;
    margin-top: 20px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 2-------------------------------------*/
/*--------------------------------------------------------------------------------*/

.cartel_2{
    background: #9be9dd;
    width: 100%;
    padding-bottom:20px;
}
.contenedor_2{
    width: 1000px;
    margin: 0 auto;
    height: 702px;
}
.tele_inf{margin-right: 11px; margin-bottom: 20px;}
.tele_inf:last-child{margin-right: 0px;}
.mensaje_2{
    float: left;
    text-align: center;
    color: white;   
    font-weight: bold;
    width: 336px;
    line-height: 120px;
}
.friends{
    font-family: "Marketing Script";
    font-family: "Marketing Script"; 
    color: #FE03DE; 
    font-size: 92px;
    font-weight: normal; 
    -webkit-transform: rotate(-10deg); 
    -moz-transform: rotate(-10deg); 
    -o-transform: rotate(-10deg);
    margin-top: -134px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 3------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_3{
    background: #968479;
    width: 100%;
    padding-bottom:20px;
}
.contenedor_3{
    padding-top: 30px;
    width: 1000px;
    margin: 0 auto;
}
.pizza{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -1px;
}
.pizza:first-child{
    margin-left: 0px;
}
.pizza_2{
    margin-bottom: 30px;
    margin-top: 30px;
    margin-left: -1px;
}
.circulo_blanco{
}
.titulo_pizza{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: -385px;
   line-height: 31px;
    color: #BF1213;
}
#girar{
    width: 368px;
    height: 368px;
    position: absolute;
    margin-top: 110px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 4------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_4{
    background: #E1EED3;
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
}
.contenedor_4{
    width: 1000px;
    margin: 0 auto;
}
.lavadoras:first-child{
    margin-left: 0px;
}
.lavadoras{
    margin-left: 36px;
}
.contenido_lavadora{
    float: left;
    width: 259px;
    line-height: 32px;
    padding-top: 99px;
    padding-left: 25px;
    margin-right: -25px;
}
.letras_lavadoras{
    font-family: 'Oswald', sans-serif;
    color: #1bcada;
    font-weight: bold;
    font-size: 32px;
}
.letras_lavadoras:last-child{
    font-size: 50px
}
.numero_lavadoras{
    font-family: "Allstar Regular";
    color: #D85738;
    font-size: 161px;
    letter-spacing: -30px;
    margin-left: -10px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------CARTEL 5------------------------------------*/
/*--------------------------------------------------------------------------------*/
.cartel_5{
    background: #D3BEC7;
    width: 100%;
    padding-bottom: 190px;
    padding-top: 20px;
}
.contenedor_5{
    width: 1000px;
    margin: 0 auto;
}
.titulo_5{
    float: left;
    font-family: 'Oswald', sans-serif;
    background: #EF85B3;
    color: #612B42;
    font-weight: bold;
    font-size: 60px;
    padding-left: 15px;
    padding-right: 15px;
    letter-spacing: 3px;
    margin-top: 35px;
}
.titulo_5:last-child{
    float: right; 
    padding-right: 0px;
}
.titulo_5:first-child{
    padding-left: 0px;
}
.minutos{
    color: #4F6F16;
    float: left;
    font-weight: bold;
    letter-spacing: -27px;
    line-height: 27px;
    margin-left: 32px;
    margin-top: 53px;
    text-align: center;
}
.triangulo_izq_1 {
    margin-top: 35px;
    width: 0;
    height: 0;
    border-right: 58px solid #EF85B3;
    border-bottom: 55px solid rgba(0, 0, 0, 0);
}
.triangulo_izq_2 {
    margin-top: -21px;
    width: 0;
    height: 0;
    border-right: 58px solid #EF85B3;
    border-top: 55px solid rgba(0, 0, 0, 0);
}
.triangulo_der_1 {
    margin-top: 35px;
    width: 0;
    height: 0;
    border-top: 55px solid #EF85B3;
    border-right: 58px solid rgba(0, 0, 0, 0);        
}
.triangulo_der_2{
    margin-top: -21px;
    width: 0;
    height: 0;
    border-bottom: 55px solid #EF85B3;
    border-right: 58px solid rgba(0, 0, 0, 0);          
}
.sub_cartel_5{
    background: #c4aeb7;
    width: 100%;
}
.sub_contenedor_5{
    width: 1000px;
    margin: 0 auto;
    background: #c4aeb7;
    padding-bottom: 45px;
}
.sub_contenedor_5 img{
    float: left;
    margin-left: 64px;
}
.sub_contenedor_5 img:first-child{
    margin-left: 0px;
}
.lavadora_5{
    margin-top: -170px;
}
.dormido{
    margin-top: -132px;
}
.television_5{
    margin-top: -118px;
}
.porcion{
    margin-left: 345px!important;
    margin-top: -60px;
}
/*--------------------------------------------------------------------------------*/
/*------------------------------------PIE-----------------------------------------*/
/*--------------------------------------------------------------------------------*/
.pie{
    background: #796C71;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
}
.contenedor_pie{
    width: 1000px;
    margin: 0 auto;
}
.gritos{
    float: right;
    margin-top: -50px;
    color: #FFF;
    font-size: 23px;
    letter-spacing: 2px;
}
.idea{
    color: #FFF;
    font-size: 20px;
    letter-spacing: 1px;
}
.idea a{
    text-decoration: none;
    color: white;
}
.miniaturas{
    float: left;
    margin-left: 40px;
}
.miniaturas img{
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: solid 2px white;
    cursor: pointer;
}
.miniaturas a{
    color: white;
    text-decoration: none;
}
.pop-up{
    position: absolute;
    z-index: 5000;
    width: 100%;
    opacity: 0.7;
    background: black;
    left: 0px;
    margin-top: -15px;
    display: none;
}
.imagen_pop-up{
    position: absolute;
    z-index: 50001;
    opacity: 1;
    margin-left: 100px;
    display: none;
}
.cerrar{
    float: right;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}